/* 首页的css */

/* 整个屏幕的bg图 */
body {
        background: url('../img/bgImg.jpg') no-repeat;
}

.header {
        width: 100%;
        height: 84px;
        background: rgba(66, 42, 42, 0.8);
}

.wrap {
        width: 1300px;
        height: 84px;
        margin: 0 auto;
        position: relative;
}

.wrap img.logo {
        position: absolute;
        top: 15px;
        left: 0;
}

.ulWrap {
        width: 890px;
        margin: 0 auto;
        display: block;
}

.ulWrap li {
        float: left;
        width: 115px;
        height: 64px;
        text-align: center;
        font-size: 18px;
        color: #c9c9dd;
        padding: 20px 0 0 0;
        cursor: pointer;
}

.ulWrap li em {
        color: #858792;
        font-size: 12px;
        display: block;
        padding: 5px 0 0 0;
}

.ulWrap li:hover,
.ulWrap li:hover em {
        color: #e8c575;
}

.ulWrap li:hover {
        background: url('../img/icons.png') no-repeat left top;
}

/* 登录div */
.loginWrap {
        width: 132px;
        height: 57px;
        position: absolute;
        right: 0;
        top: 21px;
        padding-left: 50px;
}

.loginWrap img.avatar {
        border: 1px solid #d9ad50;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 0;
}

.loginWrap a {
        color: #fff;
        font-size: 16px;
}

.loginWrap p {
        font-size: 14px;
        color: #858792;
}

/* 二级导航，向下弹出，半透明导航菜单 */
.subNav {
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: all .3s ease;
        overflow: hidden;
}

.header:hover .subNav {
        height: 200px;
}

.subNav ul.subUlWrap {
        display: block;
        width: 890px;
        height: 240px;
        margin: 10px auto;
}

.subNav ul.subUlWrap li {
        width: 110px;
        float: left;
        margin: 0 10px 0 0;
        overflow: hidden;
        line-height: 30px;
}

.subNav ul.subUlWrap li a {
        color: #c9c9dd;
        display: block;
}

/* marin，开始 */
.mainWrap {
        width: 1200px;
        height: 342px;
        margin: 20px auto;
        margin-top: 480px;
}

.sliderWrap {
        width: 604px;
        height: 342px;
        float: left;
}

.listPic {
        width: 604px;
        height: 298px;
        position: relative;
}

.listPic img {
        position: absolute;
        top: 0;
        left: 0;
}

.btnWrap {
        width: 604px;
        height: 44px;
}

.btnWrap a.picBtn {
        display: block;
        width: 120.8px;
        height: 44px;
        background: #000;
        float: left;
        color: #b1b2be;
        font-size: 12px;
        text-align: center;
        line-height: 44px;
}

.btnWrap a.picBtnOn {
        color: #f2c160;
        background: #262626;
        display: block;
        width: 120.8px;
        height: 44px;
        float: left;
        font-size: 12px;
        text-align: center;
        line-height: 44px;
}

/* news_center ，新闻 中心 */
.news_center {
        width: 325px;
        height: 342px;
        float: left;
        background: #1d1d24;
        padding: 0 17px;
        position: relative;
}

.news_center ul.titleUl {
        display: block;
        margin: 0 auto;
        width: 325px;
        height: 45px;
}

.news_center ul.titleUl li {
        float: left;
        width: 52px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        text-align: center;
        color: #b8b9c5;
        cursor: pointer;
}

.news_center ul.titleUl li:hover {
        color: #f3c258;
}

a.more_a {
        color: #b8b9c5;
        font-size: 14px;
}

.news_center a.more_a {
        position: absolute;
        top: 8px;
        right: 43px;
}