/* 首页的css */

/* 整个屏幕的bg图 */
body {
        background: url('../img/bgImg.jpg') no-repeat;
}

.header {
        width: 100%;
        height: 84px;
        background: rgba(66, 42, 42, 0.8);
}

.wrap {
        width: 1300px;
        height: 84px;
        margin: 0 auto;
        position: relative;
}

.wrap img.logo {
        position: absolute;
        top: 15px;
        left: 0;
}

.ulWrap {
        width: 890px;
        margin: 0 auto;
        display: block;
}

.ulWrap li {
        float: left;
        width: 115px;
        height: 84px;
        text-align: center;
        font-size: 18px;
        color: #c9c9dd;
        padding: 20px 0 0 0;
}

.ulWrap li em {
        color: #858792;
        font-size: 12px;
        display: block;
        padding: 5px 0 0 0;
}