@font-face {
    font-family: PlastoTrial_ExtraLight;
    font-weight: 700;
    src: url(./asset/font/PlastoTrial-ExtraLight.otf) format("truetype");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: PlastoTrial_ExtraBold;
    font-weight: 700;
    src: url(./asset/font/PlastoTrial-ExtraBold.otf) format("truetype");
    text-rendering: optimizeLegibility;
}
* {
    padding: 0;
    margin: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: rgb(246, 242, 235);
    position: relative;
    overflow: hidden;
    .head {
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        top: 0;
        padding: 1% 5%;
        display: flex;
        box-sizing: border-box;
        .logo {
            width: 30%;
            font-family: PlastoTrial_ExtraBold;
            font-size: 50px;
        }
        .right-btn {
            flex: 1;
            .into-home {
                float: right;
                line-height: 50px;
                font-family: PlastoTrial_ExtraBold;
                font-size: 20px;
                cursor: pointer;
            }
            .link-other {
                float: right;
                margin-left: 3%;
                width: 150px;
                height: 50px;
                border: 0;
                background-color: rgb(254, 200, 135);
                border-radius: 8px;
                font-family: PlastoTrial_ExtraBold;
                font-size: 18px;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background-color: rgb(247, 178, 95);
                }
            }
        }
    }
    .form-content {
        width: 400px;
        background-color: #fff;
        border-radius: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        &::before {
            content: "";
            width: 465px;
            height: 650px;
            display: block;
            position: absolute;
            left: -550px;
            bottom: 10px;
            background-image: url(./asset/bg_2.png);
            background-size: cover;
        }
        &::after {
            content: "";
            width: 740px;
            height: 520px;
            display: block;
            position: absolute;
            right: -730px;
            bottom: 10px;
            background-image: url(./asset/gb.png);
            background-size: cover;
        }
        .title {
            margin: 4% 0;
            font-family: PlastoTrial_ExtraBold;
        }
        .tips {
            font-size: 16px;
            margin-bottom: 8%;
            font-family: PlastoTrial_ExtraLight;
        }
        .input-wrapper {
            width: 100%;
            margin: 2% 0;
            input {
                width: 100%;
                height: 50px;
                outline: none;
                margin: 10px 0;
                border: 1px solid rgb(231 231 231);
                border-radius: 10px;
                box-sizing: border-box;
                padding: 10px 20px;
                font-family: PlastoTrial_ExtraBold;
                font-size: 20px;
                transition: 0.2s;
                &:focus {
                    border: 1px solid #000;
                }
            }
        }
        .forgot-pwd {
            width: 100%;
            margin-bottom: 6%;
            font-family: PlastoTrial_ExtraBold;
            span {
                float: left;
                cursor: pointer;
            }
        }
        .btn {
            width: 100%;
            height: 40px;
            background-color: rgb(254, 200, 135);
            border-radius: 10px;
            border: 0;
            font-family: PlastoTrial_ExtraBold;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                box-shadow: 1px 10px 32px 1px rgba(254, 200, 135, 0.37);
            }
        }
        .other-login {
            width: 100%;
            margin: 3%;
            .divider {
                width: 100%;
                margin: 20px 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .line {
                    width: 5%;
                    display: inline-block;
                    height: 1px;
                    background-color: #000;
                }
                .divider-text {
                    font-family: PlastoTrial_ExtraBold;
                    vertical-align: middle;
                    margin: 0 10px;
                    display: inline-block;
                    color: #000;
                    white-space: nowrap;
                }
            }
            .other-login-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .other-login-item {
                    width: 110px;
                    height: 30px;
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    font-weight: 600;
                    margin: 0 10px;
                    transition: 0.5s;
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid rgb(231 231 231);
                    svg {
                        width: 30px;
                        height: 30px;
                        fill: #000;
                        vertical-align: middle;
                    }
                    span {
                        vertical-align: middle;
                    }
                    &:hover {
                        background-color: #fff;
                        border: 1px solid #000;
                        box-shadow: 1px 10px 32px 1px rgba(186, 175, 221, 0.37);
                        svg {
                            fill: #000;
                        }
                    }
                }
            }
        }
        .request {
            margin: 5% 0;
            font-family: PlastoTrial_ExtraLight;
            span {
                font-weight: 900;
                cursor: pointer;
                font-family: PlastoTrial_ExtraBold;
                margin-left: 5px;
            }
        }
        .Copyright {
            position: absolute;
            bottom: -50px;
            font-weight: 100;
        }
    }
}
